<html>
    <head>
        <meta charset="utf-8"/>
        <% include ../head %>
    </head>
    <body>
    <div class="container">
        <div class="row col-sm-5 border-bottom">
            <h1>
                회원 가입
            </h1>
        </div><br>
        
        <% if (locals.message) { %>
        <div class="row alert-message block-message error">
            <ul>
                <li style="color: red"><%= message %></li>
            </ul>
        </div>
        <% } %>
        

        <form action="/front/auth/register" method="post" >
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">아이디</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="아이디" name="userid">
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">비밀번호</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" placeholder="비밀번호" name="password">
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">비밀번호 재입력</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" placeholder="비밀번호 재입력" name="password2">
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">이름</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="이름" name="name">
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">학교</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="학교" name="school">
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">입학년도</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="입학년도" name="admissionYear">
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">수학등급</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="수학등급" name="mathGrade">
                </div>
            </div>

            <button type="submit" class="btn btn-primary">제출</button>
        </form>

        <div class="row">
            <a href="/front"> 메인 페이지 </a>
        </div>
    </div>
    </body>
</html>