<html>
    <head>
        <meta charset="utf-8"/>
        
        <style type="text/css">
            a { text-decoration:none }
        </style>
    </head>
    <body>
        <h2>
            문제 만들기
        </h2>
        
        <h3 style="color: red">
            <%= message %>
        </h3>
        
        <form method="POST" action="/front/problem/create" enctype="multipart/form-data">
            문제 파일 : <input type="file" name="problem"/><br>
            해설 파일 : <input type="file" name="solution"/><br>
            <input type="radio" name="is_choice" value="true">객관식 
            <input type="radio" name="is_choice" value="false">주관식 <br>
            정답 : <input type="text" name="answer"/><br>
            Grade <input type="text" name="grade"/><br>
            Unit 1 <input type="text" name="unit1"/><br>
            Unit 2 <input type="text" name="unit2"/><br>
            Unit 3 <input type="text" name="unit3"/><br>
            Difficulty <input type="text" name="difficulty"/><br>
            Source <input type="text" name="source"/><br>
            Date <input type="date" name="date"/><br>
            <input type="submit"/>
        </form>
        
        <a href="/front"> 메인 페이지 </a>
    </body>
</html>