<html>
    <head>
        <meta charset="utf-8"/>
        
    	<% include ../head %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
        
        <script>
            function loadPreviousInput(){
                if ($.cookie('preInputs') == undefined)
                    return;
                
                preInputs = JSON.parse($.cookie('preInputs'));
                
                $("input[name=age]").val(preInputs.age);
                $("input[name=bigChapter]").val(preInputs.bigChapter);
                $("input[name=middleChapter]").val(preInputs.middleChapter);
                $("input[name=smallChapter]").val(preInputs.smallChapter);
                $("input[name=level]").val(preInputs.level);
                $("input[name=source]").val(preInputs.source);
                $("input[name=date]").val(preInputs.date);
            }
            function savePreviousInput(){              
                preInputs = {}
                preInputs.age = $("input[name=age]").val()
                preInputs.bigChapter = $("input[name=bigChapter]").val()
                preInputs.middleChapter = $("input[name=middleChapter]").val()
                preInputs.smallChapter = $("input[name=smallChapter]").val()
                preInputs.level = $("input[name=level]").val()
                preInputs.source = $("input[name=source]").val()
                preInputs.date = $("input[name=date]").val()
                
                $.cookie('preInputs', JSON.stringify(preInputs), {expires: 7});
            }
            
            function submitCheck() {
                if ( $("input[name=problem]").val() == '' ) {
                    alert('문제 파일이 업로드되지 않았습니다.');
                    return false;
                }
                
                savePreviousInput();
                return true;
            }
        </script>
        
        <style>
            legend
            {
                font-weight: bold;
                color: #333;
            }

            .filedrag
            {
                display: none;
                font-weight: bold;
                text-align: center;
                padding: 1em 0;
                margin: 1em 0;
                color: #555;
                border: 2px dashed #555;
                border-radius: 7px;
                cursor: default;
            }

            .filedrag.hover
            {
                color: #f00;
                border-color: #f00;
                border-style: solid;
                box-shadow: inset 0 3px 4px #888;
            }
        </style>
    </head>
    <body onload="loadPreviousInput();">
        <div class="row col-sm-5 border-bottom">
            <h1>
                문제 생성
            </h1>
        </div><br>
        
        <h3 style="color: red" id="message">
            <% if ( locals.message ) { %>
                <%= message %>
            <% } %>
        </h3>
        
        <form method="POST" action="/front/problem/create" enctype="multipart/form-data" onsubmit="return submitCheck();">
            <fieldset>
                <legend>문제 파일 업로드</legend>

                <input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="10485760" />

                <div>
                    <label for="fileselect">파일 직접 고르기</label>
                    <input type="file" class="fileselect" id="fileProblem" name="problem" />
                    <div class="filedrag" id="dragProblem">또는 여기에 파일을 드래그하세요.</div>
                </div>
                
                <div class="messages">
                    
                </div>
            </fieldset> <br>
            
            <fieldset>
                <legend>해설 업로드</legend>

                <input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />

                <div>
                    <label for="fileselect">파일 직접 고르기</label>
                    <input type="file" class="fileselect" id="fileSolution" name="solution" />
                    <div class="filedrag" id="dragSolution">또는 여기에 파일을 드래그하세요.</div>
                </div>
            </fieldset><br>
            문제 종류 : <input type="radio" name="isMultipleQuestion" value="true">객관식 
            <input type="radio" name="isMultipleQuestion" value="false">주관식 <br>
            정답 : <input type="text" name="answer"/><br>
            학년 : <input type="text" name="age"/><br>
            대단원 : <input type="text" name="bigChapter"/><br>
            중단원 : <input type="text" name="middleChapter"/><br>
            소단원 : <input type="text" name="smallChapter"/><br>
            난이도 : <input type="text" name="level"/><br>
            출처 : <input type="text" name="source"/><br>
            출제년도 : <input type="date" name="date"/><br>
            <input type="submit"/>
        </form>
        
        <a href="/front"> 메인 페이지 </a>
        
        <script src="/static/custom/js/fileDrop.js"></script>
    </body>
</html>