<html>
    <head>
        <meta charset="utf-8"/>
        
    	<% include ../head %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/css/mdb.min.css" />
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/js/mdb.min.js"></script>
        <script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
        <script type="text/javascript" src="/static/vendor/ckeditor/ckeditor.js"></script>
        <script type="text/javascript" src="/static/vendor/ckeditor/adapters/jquery.js"></script>
        <script>
            function loadPreviousInput(){
                if ($.cookie('preInputs') == undefined)
                    return;
                
                preInputs = JSON.parse($.cookie('preInputs'));
                
                $("input[name=course]").val(preInputs.course);
                $("input[name=bigChapter]").val(preInputs.bigChapter);
                $("input[name=middleChapter]").val(preInputs.middleChapter);
                $("input[name=smallChapter]").val(preInputs.smallChapter);
                $("input[name=level]").val(preInputs.level);
                $("input[name=source]").val(preInputs.source);
                $("input[name=date]").val(preInputs.date);
            }
            function savePreviousInput(){              
                preInputs = {}
                preInputs.course = $("input[name=course]").val()
                preInputs.bigChapter = $("input[name=bigChapter]").val()
                preInputs.middleChapter = $("input[name=middleChapter]").val()
                preInputs.smallChapter = $("input[name=smallChapter]").val()
                preInputs.level = $("input[name=level]").val()
                preInputs.source = $("input[name=source]").val()
                preInputs.date = $("input[name=date]").val()
                
                $.cookie('preInputs', JSON.stringify(preInputs), {expires: 7});
            }
            
            function submitCheck() {
                if ( $("input[name=problem]").val() == '' || $("input[name=solution]").val() == '' ) {
                    alert('문제 파일이 업로드되지 않았습니다.');
                    return false;
                }
                
                savePreviousInput();
                return true;
            }
            
            $(document).ready(function() {
                $("textarea[name=shortQuestion]").ckeditor();
                $("div[name=shortQuestion]").toggle();
                $("div[id=previewShortQuestion]").toggle();
                $("input[name=isMultipleQuestion]").click(function() {
                    if ($("input[id=customControlValidation3]").is(":checked")) {
                        $("div[name=shortQuestion]").show(1000);
                    } else {
                        $("div[name=shortQuestion]").hide(1000);
                    }
                })
                $("button[name=capture]").click(function(){
                    html2canvas($("iframe")[0].contentDocument.documentElement.childNodes[1], {useCORS: true, allowTaint: false}).then(canvas => {
                        $("img[id=imageShortQuestion]").attr("src", canvas.toDataURL("image/png"));
                        $("input[name=fileShortQuestion]").attr("value", canvas.toDataURL("image/png").replace(/^data:image\/png;base64,/, ""));
                        $("div[id=previewShortQuestion]").show(1000);
                    });
                });
            });
        </script>
        
        <style>
            legend
            {
                font-weight: bold;
                color: #333;
            }

            .filedrag
            {
                display: none;
                font-weight: bold;
                text-align: center;
                padding: 1em 0;
                margin: 1em 0;
                color: #555;
                border: 2px dashed #555;
                border-radius: 7px;
                cursor: default;
            }

            .filedrag.hover
            {
                color: #f00;
                border-color: #f00;
                border-style: solid;
                box-shadow: inset 0 3px 4px #888;
            }
            
            .preview
            {
                border: 1px solid #808080;
                margin-left: 1em;
            }
            
            .preview-legend
            {
                background: white none repeat scroll 0 0;
                font-size: medium;
                font-weight: normal;
                display: inline-block;
                padding: 0 2px;
            }
        </style>
    </head>
    <body onload="loadPreviousInput();">
    <div class="container-fluid">
        <div class="row col-sm-5 border-bottom">
            <h1>
                문제 생성
            </h1>
        </div><br>
        
        <% if (locals.message) { %>
        <div class="row alert-message block-message error">
            <ul>
                <li style="color: red"><%= message %></li>
            </ul>
        </div>
        <% } %>
        
        <form method="POST" action="/front/problem/create" enctype="multipart/form-data" onsubmit="return submitCheck();">
            <div class="form-group row">
                <fieldset class="col-sm-5 border-bottom">
                    <legend>문제 파일 업로드</legend>

                    <input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="10485760" />

                    <div class="col-sm-12">
                        <input type="file" class="fileselect" id="fileProblem" name="problem" />
                        <div class="filedrag" id="dragProblem">또는 여기에 파일을 드래그하세요.</div>
                    </div>

                    <div class="messages">

                    </div>
                </fieldset> <br>
            </div>
            
            <div class="form-group row">
                <fieldset class="col-sm-5 border-bottom">
                    <legend>해설 업로드</legend>

                    <input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="10485760" />

                    <div class="col-sm-12">
                        <input type="file" class="fileselect" id="fileSolution" name="solution" />
                        <div class="filedrag" id="dragSolution">또는 여기에 파일을 드래그하세요.</div>
                    </div>
                </fieldset><br>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">문제 종류</label>

                <div class="custom-control custom-radio col-sm-1 align-self-center">
                    <input type="radio" class="custom-control-input radio-inline" id="customControlValidation2" name="isMultipleQuestion" value="true" checked="checked">
                    <label class="custom-control-label" for="customControlValidation2">객관식</label>
                </div>
                <div class="custom-control custom-radio col-sm-1 align-self-center">
                    <input type="radio" class="custom-control-input radio-inline" id="customControlValidation3" name="isMultipleQuestion" value="false">
                    <label class="custom-control-label" for="customControlValidation3">주관식</label>
                    <div class="invalid-feedback">문제 종류를 선택해주세요.</div>
                </div>
            </div>
          
            <div name="shortQuestion" class="form-group row">
                <label class="col-sm-2 col-form-label">주관식 부가 질문</label>
                <input type="hidden" name="fileShortQuestion" class="form-control"/>
                <div id=shortQuestionDialog title="주관식 부가 질문">
                    <textarea placeholder="주관식 부가 질문" name="shortQuestion">
                    </textarea>
                    <button type="button" class="btn btn-primary" name="capture">캡처 생성</button>
                </div>
                <div id="previewShortQuestion" class="preview">
                    <legend class="preview-legend">
                        미리보기
                    </legend>
                    <img id="imageShortQuestion" src=""/>
                </div>
            </div>
          
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">정답</label>
                <div class="col-sm-2 p-0">
                    <input type="text" class="form-control" placeholder="정답" name="answer">
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">과목명</label>
                <div class="col-sm-2 p-0">
                    <input type="text" class="form-control" placeholder="과목명" name="course">
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">대단원</label>
                <div class="col-sm-2 p-0">
                    <input type="text" class="form-control" placeholder="대단원" name="bigChapter">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">중단원</label>
                <div class="col-sm-2 p-0">
                    <input type="text" class="form-control" placeholder="중단원" name="middleChapter">
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">소단원</label>
                <div class="col-sm-2 p-0">
                    <input type="text" class="form-control" placeholder="소단원" name="smallChapter">
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">난이도</label>
                <div class="col-sm-2 p-0">
                    <input type="text" class="form-control" placeholder="난이도" name="level">
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">출처</label>
                <div class="col-sm-2 p-0">
                    <input type="text" class="form-control" placeholder="출처" name="source">
                </div>
            </div>
            
            <div class="form-group row ">
                <label class="col-sm-2 col-form-label">출제년도</label>
                <div class="col-sm-2 p-0">
                    <input type="date" class="form-control" name="date">
                </div>
            </div>
            
            <div class="form-group row col-sm-2">
                <button type="submit" class="btn btn-primary">생성</button>
            </div>
        </form>
        
        <a href="/front"> 메인 페이지 </a>
        
        <script src="/static/custom/js/fileDrop.js"></script>
    </div>
    </body>
</html>