<html>
    <head>
        <meta charset="utf-8"/>
        
        <% include ../head %>
        
    </head>
    <body>
        <div class="row col-sm-5 border-bottom">
            <h1>
                시험지 만들기
            </h1>
        </div><br>
        
        <h3 style="color: red" id="message">
            <% if ( locals.message ) { %>
                <%= message %>
            <% } %>
        </h3>
        
        <form method="POST" action="/front/exam/create">
            시험지 제목 : <input type="text" name="title"/><br>
            문제 번호 : <input type="text" name="problemIDList" placeholder="ex) 1 2 3"/><br>
            제한 시간 : <input type="text" name="timeLimit"/><br>
            <input type="submit"/>
        </form>
        
        <a href="/front"> 메인 페이지 </a>
    </body>
</html>