<html>
    <head>
        <meta charset="utf-8"/>
        
        <% include ../head %>
    </head>
    <body>
        <h2>
            내가 만든 시험지 조회
        </h2>
        
        <h3 style="color: red" id="message">
            <% if ( locals.message ) { %>
                <%= message %>
            <% } %>
        </h3>
        
        <!-- Query  -->
        <form method="POST" action="/front/exam/list">
            <input type="submit" value="조회"/>
        </form>
        
        <a href="/front"> 메인 페이지 </a>
        
        <!-- Result  -->
        <% if ( locals.examList ) { %>
            <table>
                <thead>
                    <tr>
                        <th>시험지 번호</th>
                        <th>시험지 제목</th>
                        <th>만든 날짜</th>
                    </tr>
                </thead>
            <% for (let i = 0; i < examList.length; i++ ) { %>
                <tr>
                    <td><%= examList[i].examID %></td>
                    <td><%= examList[i].title %></td>
                    <td><%= examList[i].createdAt %></td>
                </tr>
            <% } %>
            </table>
        <% } %>
    </body>
</html>