<html>
    <head>
        <meta charset="utf-8"/>
        
        <% include ./head %>
        
    </head>
    
    <body>
        <h1>
            안녕하세요. <%= token.userid %> 님
        </h1>
        
        <% if (locals.message) { %>
        <div class="row alert-message block-message error">
            <ul>
                <li style="color: red"><%= message %></li>
            </ul>
        </div>
        <% } %>
        
        <% if ( token.admin ) { %>
                <a href="/front/problem/create"> 문제 만들기 </a><br>
        <% } %>
        <a href="/front/problem/inquiry"> 문제 리스트 조회 </a> <br>
        <a href="/front/exam/create"> 시험지 만들기  </a><br>
        <a href="/front/exam/list"> 내가 만든 시험지 조회  </a><br>
        <a href="/front/auth/logout"> 로그아웃 </a><br>
        
    </body>
</html>