<html>
    <head>
        <meta charset="utf-8"/>
        
        <% include ./head %>
        
    </head>
    
    <body>
    <div class="container-fluid">
        <div class="row col-sm-5 border-bottom">
            <h1>
                안녕하세요. <%= token.userid %> 님
            </h1>
        </div><br>
        
        <% if (locals.message) { %>
        <div class="row alert-message block-message error">
            <ul>
                <li style="color: red"><%= message %></li>
            </ul>
        </div>
        <% } %>
        
        <div class="list-group w-25">
            <% if ( token.admin ) { %>
                    <a href="/front/problem/create" class="list-group-item list-group-item-action list-group-item-light"> 문제 만들기 </a>
            <% } %>
            <a href="/front/problem/list" class="list-group-item list-group-item-action list-group-item-light">문제 리스트 조회</a>
            <a href="/front/exam/create" class="list-group-item list-group-item-action list-group-item-light">시험지 만들기</a>
            <a href="/front/exam/list" class="list-group-item list-group-item-action list-group-item-light">내가 만든 시험지 조회</a>
            <a href="/front/category/list" class="list-group-item list-group-item-action list-group-item-light">카테고리 조회</a>
            <a href="/front/auth/logout" class="list-group-item list-group-item-action list-group-item-light">로그아웃</a>
        </div>
    </div>
    </body>
</html>