<html>
    <head>
        <meta charset="utf-8"/>
        
        <% include ../head %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        
        <style>
            table {
                margin: .5rem!important;
                font-size: 1.15rem;
            }
            
            .checked {
                background-color : #aec2e4;
            }
            
            .hover-button {
                float: right;
            }
            
            .hover-button {
                height: 10%;
            }
            
            .input-group-btn i {
                font-size: 1.5rem;
            }
            

        </style>
    </head>
    <body>
    <div class="container-fluid">
        <div class="row col-sm-5 border-bottom">
            <h1>
                카테고리 조회
            </h1>
        </div><br>
        
        <div class="row alert-message block-message error">
            <ul id="error-ul">
                <% if (locals.message) { %><li style="color: red"><%= message %></li><% } %>
            </ul>
        </div>
        
        <div class="form-group row">
            <!-- course category -->
            <div class="col-sm-2">
                <table class="table table-bordered table-hover" id="course-table">
                    <thead class="thead-dark">
                        <tr>
                            <th>과목명</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if ( locals.courseList ) { %>
                            <% for (let i = 0; i < courseList.length; i++ ) { %>
                                <tr><td value="<%= courseList[i] %>"><%= courseList[i] %></td></tr>
                            <% } %>
                        <% } %>
                        <tr>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="course">&nbsp;
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn btn-primary" onclick="createCategory('course');"><i class="fa fa-plus"></i></button>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <input type="hidden" name="course2"/>
            </div>
            
            <!-- BigChapter category -->
            <div class="col-sm-2">
                <table class="table table-bordered table-hover col-sm-3" id="bigChapter-table">
                    <thead class="thead-dark">
                        <tr>
                            <th>대단원</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="bigChapter">&nbsp;
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn btn-primary" onclick="createCategory('bigChapter');"><i class="fa fa-plus"></i></button>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <input type="hidden" name="bigChapter2"/>
            </div>
                
            <!-- MiddleChapter category -->
            <div class="col-sm-2">
                <table class="table table-bordered table-hover col-sm-3" id="middleChapter-table">
                    <thead class="thead-dark">
                        <tr>
                            <th>중단원</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="middleChapter">&nbsp;
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn btn-primary" onclick="createCategory('middleChapter');"><i class="fa fa-plus"></i></button>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <input type="hidden" name="middleChapter2"/>
            </div>
                
            <!-- SmallChapter category -->
            <div class="col-sm-2">
                <table class="table table-bordered table-hover col-sm-3" id="smallChapter-table">
                    <thead class="thead-dark">
                        <tr>
                            <th>소단원</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="smallChapter">&nbsp;
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn btn-primary" onclick="createCategory('smallChapter');"><i class="fa fa-plus"></i></button>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <br>
        <a href="/front"> 메인 페이지 </a>
    </div>

	<script>
        $('.input-group input').css('border-radius','.25rem');
        
        function OutputMessage(msg){
            $('#error-ul').html('<li style="color: red">' + msg + '</li>');
        }
        
        function tableRow(text) {
            return $(`<tr><td value="${text}">${text}</tr></td>`);
        }
        // When course-table row is clicked
        function SetcourseListener() {
            $('#course-table tbody tr td').on('click', function (e) {
                // If the clicked td is input form.
                if ( $(this).find('div').length > 0 )
                    return;
                
                e.preventDefault();
                
                $.ajax({
                    type: "POST",
                    url: '/api/category/list',
                    headers: {
                        "x-access-token": $.cookie('token')
                    },
                    data: { course: $(this).attr('value') },
                    async: false,
                    success: function (data){
                        if (data.success == false) {
                            OutputMessage(data.message);
                            return;
                        }
                        
                        // Save the input form of table.
                        $plusButton1 = $('#bigChapter-table tbody tr')[$('#bigChapter-table tbody tr').length - 1];
                        $plusButton2 = $('#middleChapter-table tbody tr')[$('#middleChapter-table tbody tr').length - 1];
                        $plusButton3 = $('#smallChapter-table tbody tr')[$('#smallChapter-table tbody tr').length - 1];

                        // Clean all rows.
                        $('#bigChapter-table tbody tr').remove();
                        $('#middleChapter-table tbody tr').remove();
                        $('#smallChapter-table tbody tr').remove();
                        
                        // Append category list.
                        data.data.categories.forEach( (category) => {
                            $('#bigChapter-table tbody').append(tableRow(category)); 
                        });
                        
                        // Append the input form.
                        $('#bigChapter-table tbody').append($plusButton1);
                        $('#middleChapter-table tbody').append($plusButton2);
                        $('#smallChapter-table tbody').append($plusButton3);
                    },
                    dataType: 'json'
                });
                
                // Mark a clicked td.
                $('#course-table td[class="checked"]').removeClass('checked');
                $(this).addClass('checked');

                // Save a current category.
                $('input[name="course2"]').val($(this).attr('value'));
                // Clean a subcategory input form.
                $('input[name="bigChapter2"]').val('');
                $('input[name="middleChapter2"]').val('');
                $('input[name="smallChapter2"]').val('');
                
                // Set middleChapter td onclick listener.
                SetbigChapterListener();
            });
            
            // Set a hover button.
            $('#course-table tbody tr td').hover(function() {
                // If the clicked td is input form.
                if ( $(this).find('div').length > 0 )
                    return;
                
                $(this).append('<button class="btn btn-danger btn-sm hover-button" onclick="deleteCategory(\'course\')"><i class="fa fa-trash" aria-hidden="true"></i></button>');
            }, function() {
                // If the clicked td is input form.
                if ( $(this).find('div').length > 0 )
                    return;
                
                $(this).find('button').remove();
            });
        }
        
        
        // When bigChapter table row is clicked
        function SetbigChapterListener() {
            $('#bigChapter-table tbody tr td').on('click', function (e) {
                // If the clicked td is input form.
                if ( $(this).find('div').length > 0 )
                    return;
                
                e.preventDefault();
                
                $.ajax({
                    type: "POST",
                    url: '/api/category/list',
                    headers: {
                        "x-access-token": $.cookie('token')
                    },
                    data: { course: $('input[name="course2"]').val(),
                            bigChapter: $(this).attr('value') },
                    async: false,
                    success: function (data){
                        if (data.success == false) {
                            OutputMessage(data.message);
                            return;
                        }
                        
                        // Save the input form table.
                        $plusButton = $('#middleChapter-table tbody tr')[$('#middleChapter-table tbody tr').length - 1];
                        $plusButton2 = $('#smallChapter-table tbody tr')[$('#smallChapter-table tbody tr').length - 1];
                        
                        // Clean all rows.
                        $('#middleChapter-table tbody tr').remove();
                        $('#smallChapter-table tbody tr').remove();
                        
                        // Append category list.
                        data.data.categories.forEach( (category) => {
                            $('#middleChapter-table tbody').append(tableRow(category)); 
                        });
                        
                        // Append the input form.
                        $('#middleChapter-table tbody').append($plusButton);
                        $('#smallChapter-table tbody').append($plusButton2);
                    },
                    dataType: 'json'
                });
                
                // Mark a clicked td.
                $('#bigChapter-table td[class="checked"]').removeClass('checked');
                $(this).addClass('checked');

                // Save a current category.
                $('input[name="bigChapter2"]').val($(this).attr('value'));
                // Clean a subcategory input form.
                $('input[name="middleChapter2"]').val('');
                $('input[name="smallChapter2"]').val('');
                
                // Set middleChapter td onclick listener.
                SetmiddleChapterListener();
            });
            
            // Set a hover button.
            $('#bigChapter-table tbody tr td').hover(function() {
                // If the clicked td is input form.
                if ( $(this).find('div').length > 0 )
                    return;
                
                $(this).append('<button class="btn btn-danger btn-sm hover-button" onclick="deleteCategory(\'bigChapter\')"><i class="fa fa-trash" aria-hidden="true"></i></button>');
            }, function() {
                // If the clicked td is input form.
                if ( $(this).find('div').length > 0 )
                    return;
                
                $(this).find('button').remove();
            });
        }
        
        // When middleChapter table row is clicked
        function SetmiddleChapterListener() {
            $('#middleChapter-table tbody tr td').on('click', function (e) {
                // If the clicked td is input form.
                if ( $(this).find('div').length > 0 )
                    return;     
                
                e.preventDefault();
                
                $.ajax({
                    type: "POST",
                    url: '/api/category/list',
                    headers: {
                        "x-access-token": $.cookie('token')
                    },
                    data: {
                        course: $('input[name="course2"]').val(),
                        bigChapter: $('input[name="bigChapter2"]').val(),
                        middleChapter: $(this).attr('value')
                    },
                    async: false,
                    success: function (data){
                        if (data.success == false) {
                            OutputMessage(data.message);
                            return;
                        }

                        // Save the input form of last table row.
                        $plusButton = $('#smallChapter-table tbody tr')[$('#smallChapter-table tbody tr').length - 1];
                        $('#smallChapter-table tbody tr').remove();
                            
                        // Append category list.
                        data.data.categories.forEach( (category) => {
                            $('#smallChapter-table tbody').append(tableRow(category)); 
                        });
                        
                        // Append the input form.
                        $('#smallChapter-table tbody').append($plusButton);
                        
                        SetsmallChapterListener();
                    },
                    dataType: 'json'
                });
                // Check a clicked td.
                $('#middleChapter-table td[class="checked"]').removeClass('checked');
                $(this).addClass('checked');
                
                // Save a current category.
                $('input[name="middleChapter2"]').val($(this).attr('value'));
                
                // Clean a subcategory input form.
                $('input[name="smallChapter2"]').val('');
            });
            
             // Set a hover button.
            $('#middleChapter-table tbody tr td').hover(function() {
                // If the hovered td is input form.
                if ( $(this).find('div').length > 0 )
                    return;
                
                $(this).append('<button class="btn btn-danger btn-sm hover-button" onclick="deleteCategory(\'middleChapter\')"><i class="fa fa-trash" aria-hidden="true"></i></button>');
            }, function() {
                // If the hovered td is input form.
                if ( $(this).find('div').length > 0 )
                    return;
                
                $(this).find('button').remove();
            });
        }
        
        function SetsmallChapterListener() {
            // Set a hover button.
            $('#smallChapter-table tbody tr td').hover(function() {
                // If the hovered td is input form.
                if ( $(this).find('div').length > 0 )
                    return;
                
                $(this).append('<button class="btn btn-danger btn-sm hover-button" onclick="deleteCategory(\'smallChapter\')"><i class="fa fa-trash" aria-hidden="true"></i></button>');
            }, function() {
                // If the hovered td is input form.
                if ( $(this).find('div').length > 0 )
                    return;
                
                $(this).find('button').remove();
            });
        }
        
        // Create a category when a button is clicked.
        function createCategory(categoryType) {
            $.ajax({
                type: "POST",
                url: '/api/category/create',
                headers: {
                    "x-access-token": $.cookie('token')
                },
                data: { 
                    course: $('input[name="course"]').val() || $('input[name="course2"]').val(),
                    bigChapter: $('input[name="bigChapter"]').val() || $('input[name="bigChapter2"]').val(),
                    middleChapter: $('input[name="middleChapter"]').val() || $('input[name="middleChapter2"]').val(),
                    smallChapter: $('input[name="smallChapter"]').val()
                },
                async: false,
                success: function (data){
                    if (data.success == false) {
                        OutputMessage(data.message);
                        return;
                    }
                    
                    // Reload category list.
                    if ( categoryType == 'course' ) {
                        location.reload();
                    }
                    else if ( categoryType == 'bigChapter' ) {
                        $('#course-table td[class="checked"]').click();
                    }
                    else if ( categoryType == 'middleChapter' ) {
                        $('#bigChapter-table td[class="checked"]').click();
                    }
                    else if ( categoryType == 'smallChapter' ) {
                        $('#middleChapter-table td[class="checked"]').click();
                    }
                    
                    // Clean a input form data.
                    $(`input[name="${categoryType}"]`).val('');
                }
            });
        }
        
        // Delete a category when a button is clicked.
        function deleteCategory(categoryType) {
            category = $('.hover-button').parent().attr('value');
            console.log(category);
            if ( confirm("정말로 삭제 하시겠습니까?") ) { 
                $.ajax({
                    type: "POST",
                    url: '/api/category/delete',
                    headers: {
                        "x-access-token": $.cookie('token')
                    },
                    data: {
                        course: categoryType == 'course' ? category : $('input[name="course2"]').val(),
                        bigChapter: categoryType == 'bigChapter' ? category : $('input[name="bigChapter2"]').val(),
                        middleChapter: categoryType == 'middleChapter' ? category : $('input[name="middleChapter2"]').val(),
                        smallChapter: categoryType == 'smallChapter' ? category : ''
                    },
                    async: false,
                    success: function (data){
                        if (data.success == false) {
                            OutputMessage(data.message);
                            return;
                        }

                        // Reload category list.
                        if ( categoryType == 'course' ) {
                            location.reload();
                        }
                        else if ( categoryType == 'bigChapter' ) {
                            $('#course-table td[class="checked"]').click();
                        }
                        else if ( categoryType == 'middleChapter' ) {
                            $('#bigChapter-table td[class="checked"]').click();
                        }
                        else if ( categoryType == 'smallChapter' ) {
                            $('#middleChapter-table td[class="checked"]').click();
                        }

                        // Clean a input form data.
                        $(`input[name="${categoryType}"]`).val('');
                    }
                });
            }
        }
        
    SetcourseListener();
	</script>
    </body>
</html>