<html>
    <head>
        <meta charset="utf-8"/>
        
        <% include ../head %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        
        <style>
            .row-span {
                display:inline-block;
            }
            
            table {
                margin: .5rem!important;
            }
            
            .checked {
                background-color : #aec2e4;
            }
        </style>
    </head>
    <body>
    <div class="container-fluid">
        <div class="row col-sm-5 border-bottom">
            <h1>
                카테고리 조회
            </h1>
        </div><br>
        
        <div class="row alert-message block-message error">
            <ul id="error-ul">
                <% if (locals.message) { %><li style="color: red"><%= message %></li><% } %>
            </ul>
        </div>
        
        <div class="form-group row">
            <!-- BigChapter category -->
            <table class="table table-bordered table-hover col-sm-3" id="bigChapter-table">
                <thead class="thead-dark">
                    <tr>
                        <th>대단원</th>
                    </tr>
                </thead>
                <tbody>
                    <% if ( locals.bigChapterList ) { %>
                        <% for (let i = 0; i < bigChapterList.length; i++ ) { %>
                            <tr><td><%= bigChapterList[i] %></td></tr>
                        <% } %>
                    <% } %>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control" name="bigChapter">&nbsp;
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn btn-primary h-100" onclick="createCategory('bigChapter');"><i class="fas fa-plus"></i></button>
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="hidden" name="bigChapter2"/>
                
            <!-- MiddleChapter category -->
            <table class="table table-bordered table-hover col-sm-3" id="middleChapter-table">
                <thead class="thead-dark">
                    <tr>
                        <th>중단원</th>
                    </tr>
                </thead>
                <tbody>
                    <% if ( locals.middleChapterList ) { %>
                        <% for (let i = 0; i < middleChapterList.length; i++ ) { %>
                            <tr><td><%= middleChapterList[i] %></td></tr>
                        <% } %>
                    <% } %>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control" name="middleChapter">&nbsp;
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn btn-primary h-100" onclick="createCategory('middleChapter');"><i class="fas fa-plus"></i></button>
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="hidden" name="middleChapter2"/>
                
            <!-- SmallChapter category -->
            <table class="table table-bordered table-hover col-sm-3" id="smallChapter-table">
                <thead class="thead-dark">
                    <tr>
                        <th>소단원</th>
                    </tr>
                </thead>
                <tbody>
                    <% if ( locals.smallChapterList ) { %>
                        <% for (let i = 0; i < smallChapterList.length; i++ ) { %>
                            <tr><td><%= smallChapterList[i] %></td></tr>
                        <% } %>
                    <% } %>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control" name="smallChapter">&nbsp;
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn btn-primary h-100" onclick="createCategory('smallChapter');"><i class="fas fa-plus"></i></button>
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <br>
        <a href="/front"> 메인 페이지 </a>
    </div>

	<script>
        function OutputMessage(msg){
            $('#error-ul').html('<li style="color: red">' + msg + '</li>');
        }
        
        function tableRow(text) {
            return $('<tr><td>' + text + '</tr></td>');
        }
        
        // When bigChapter row is clicked
        function SetbigChapterListener() {
            $('#bigChapter-table tbody tr td').on('click', function (e) {
                // If the clicked td is input form.
                if ( $(this).find('div').length > 0 )
                    return;
                
                e.preventDefault();

                $.ajax({
                    type: "POST",
                    url: '/api/category/list',
                    headers: {
                        "x-access-token": $.cookie('token')
                    },
                    data: { bigChapter: $(this).html() },
                    async: false,
                    success: function (data){
                        if (data.success == false) {
                            OutputMessage(data.message);
                            return;
                        }
                        
                        // Save the input form of middleChapter table.
                        $plusButton = $('#middleChapter-table tbody tr')[$('#middleChapter-table tbody tr').length - 1];
                        $plusButton2 = $('#smallChapter-table tbody tr')[$('#smallChapter-table tbody tr').length - 1];
                        // Clean all rows.
                        $('#middleChapter-table tbody tr').remove();
                        $('#smallChapter-table tbody tr').remove();
                        
                        // Append category list.
                        data.data.categories.forEach( (category) => {
                            $('#middleChapter-table tbody').append(tableRow(category)); 
                        });
                        
                        // Append the input form.
                        $('#middleChapter-table tbody').append($plusButton);
                        $('#smallChapter-table tbody').append($plusButton2);
                    },
                    dataType: 'json'
                });
                
                // Check a clicked td.
                $('#bigChapter-table td[class="checked"]').removeClass('checked');
                $(this).addClass('checked');

                // Save parent category.
                $('input[name="bigChapter2"]').val($(this).html());
                // Clean middleChapter information.
                $('input[name="middleChapter2"]').val('');
                
                // Set middleChapter td onclick listener.
                SetmiddleChapterListener();
            });
        }
        
        // When middleChapter row is clicked
        function SetmiddleChapterListener() {
            $('#middleChapter-table tbody tr td').on('click', function (e) {
                // If the clicked td is input form.
                if ( $(this).find('div').length > 0 )
                    return;     
                
                e.preventDefault();
                
                $.ajax({
                    type: "POST",
                    url: '/api/category/list',
                    headers: {
                        "x-access-token": $.cookie('token')
                    },
                    data: { 
                        bigChapter: $('input[name="bigChapter2"]').val(),
                        middleChapter: $(this).html()
                    },
                    success: function (data){
                        if (data.success == false) {
                            OutputMessage(data.message);
                            return;
                        }

                        // Save the input form of last table row.
                        $plusButton = $('#smallChapter-table tbody tr')[$('#smallChapter-table tbody tr').length - 1];
                        $('#smallChapter-table tbody tr').remove();
                            
                        // Append category list.
                        data.data.categories.forEach( (category) => {
                            $('#smallChapter-table tbody').append(tableRow(category)); 
                        });
                        
                        // Append the input form.
                        $('#smallChapter-table tbody').append($plusButton);
                    },
                    dataType: 'json'
                });
                // Check a clicked td.
                $('#middleChapter-table td[class="checked"]').removeClass('checked');
                $(this).addClass('checked');
                
                // Save parent category.
                $('input[name="middleChapter2"]').val($(this).html());
            });
        }
        
        // Create a category when a button is clicked.
        function createCategory(categoryType) {
            $.ajax({
                type: "POST",
                url: '/api/category/create',
                headers: {
                    "x-access-token": $.cookie('token')
                },
                data: { 
                    bigChapter: $('input[name="bigChapter"]').val() || $('input[name="bigChapter2"]').val(),
                    middleChapter: $('input[name="middleChapter"]').val() || $('input[name="middleChapter2"]').val(),
                    smallChapter: $('input[name="smallChapter"]').val()
                },
                async: false,
                success: function (data){
                    if (data.success == false) {
                        OutputMessage(data.message);
                        return;
                    }
                    
                    // Reload category list.
                    if ( categoryType == 'bigChapter' ) {
                        location.reload();
                    }
                    else if ( categoryType == 'middleChapter' ) {
                        $('#bigChapter-table td[class="checked"]').click();
                    }
                    else if ( categoryType == 'smallChapter' ) {
                        $('#middleChapter-table td[class="checked"]').click();
                    }
                    
                    // Clean a input form data.
                    $(`input[name="${categoryType}"]`).val('');
                }
            });
        }
        
    SetbigChapterListener();
	</script>
    </body>
</html>